.frame {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #e5e5e5;
}

.frame {
  .main_frame {
    position: relative;
    width: 1440px;
    height: 1312px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2px;
    /* background: #e8de85; */
  }
}

.main_frame {
  .left_frame {
    position: relative;
    width: 305px;
    height: 1315px;
    background-color: white;
    display: flex;
    flex-direction: column;
  }
}

.main_frame {
  .midd_frame {
    position: relative;
    width: 970px;
    height: 1259px;
    margin-left: 30px;
    margin-right: 27px;
    display: flex;
    flex-direction: column;
  }
}

.main_frame {
  .right_frame {
    position: relative;
    width: 108px;
    height: 1315px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.main_frame {
  .left_frame {
    .left_1 {
      position: relative;
      width: 228px;
      height: 267px;
      margin-top: 50px;
      margin-left: 37px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

.main_frame {
  .left_frame {
    .left_1 {
      .left_1-1 {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 156.16px;
        height: 142.53px;
        /* margin-left: 36.44px;
        margin-right: 35.4px; */
        margin-bottom: 29.46px;
      }
    }
  }
}

.main_frame {
  .left_frame {
    .marginer {
      position: relative;
      width: 220px;
      height: 0px;
      margin-left: 40px;
      margin-bottom: 25px;
      margin-top: 39px;
      /* Background */
      border: 1.5px solid #f0f0f6;
    }
  }
}

.main_frame {
  .left_frame {
    .left_2 {
      position: relative;
      width: 221px;
      height: 126px;
      margin-left: 44px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

.main_frame {
  .left_frame {
    .left_2 {
      .left_2-1 {
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 10px;
        font-family: sans-serif;
      }
    }
  }
}

.main_frame {
  .left_frame {
    .left_1 {
      .left_1-2 {
        position: relative;
        width: 66.63px;
        height: 20.9px;
        margin-bottom: 6.65px;
        /* H4 - 18px */

        font-family: sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 123.6%;
        /* or 22px */

        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: capitalize;

        /* Black */

        color: #2b2b2b;
      }
    }
  }
}

.main_frame {
  .left_frame {
    .left_3 {
      position: relative;
      width: 220px;
      height: 153px;
      margin-top: 25px;
      margin-left: 45px;
    }
  }
}

.main_frame {
  .left_frame {
    .left_3,
    .left_4,
    .left_5 {
      .languages {
        position: relative;
        width: 95px;
        height: 22px;
        font-family: sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 123.6%;
        margin-bottom: 15px;
        text-transform: capitalize;
        color: #2b2b2b;
      }
    }
  }
}

.main_frame {
  .left_frame {
    .left_3,
    .left_4 {
      .bangla {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        margin-bottom: 10px;
        border-top: 10px;
        font-family: sans-serif;
      }
    }
  }
}

.main_frame {
  .left_frame {
    .left_3,
    .left_4 {
      .lan-border {
        position: relative;
        width: 220px;
        height: 4px;
        margin-bottom: 6px;
        background: #ffb400;
      }
    }
  }
}

.main_frame {
  .left_frame {
    .left_3,
    .left_4,
    .left_5 {
      span {
        font-family: sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 24px;
        color: #767676;
      }
    }
  }
}

.main_frame {
  .left_frame {
    .left_1 {
      .left_1-3 {
        position: relative;
        width: 147.84px;
        height: 25.65px;
        display: flex;
        justify-content: center;
        align-items: center;

        font-family: sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 24px;

        text-transform: capitalize;
        font-feature-settings:
          "calt" off,
          "kern" off;
        color: #767676;
      }
    }
  }
}

.main_frame {
  .left_frame {
    .left_1 {
      .left-icons {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        width: 222px;
        margin-top: 19px;
      }
    }
  }
}

.main_frame {
  .left_frame {
    .left_1 {
      .left-icons {
        .link_href {
          text-decoration: none;
          color: black;
        }
      }
    }
  }
}

.main_frame {
  .left_frame {
    .left_1 {
      .left-icons {
        .link_href {
          .icon {
            position: relative;
            width: 24.99px;
            height: 22.8px;
            border-radius: 50%;
            filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
            /* background: #ffb400; */
          }
        }
      }
    }
  }
}

.main_frame {
  .left_frame {
    .left_1 {
      .left-icons {
        .link_href {
          .icon {
            .icon-1 {
              position: relative;
              left: 29.17%;
              right: 27.08%;
              margin-top: 5.86px;
            }
          }
        }
      }
    }
  }
}

.main_frame {
  .left_frame {
    .left_4 {
      position: relative;
      width: 220px;
      height: 252px;
      margin-top: 25px;
      margin-left: 45px;
    }
  }
}

.main_frame {
  .left_frame {
    .left_5 {
      position: relative;
      width: 186px;
      height: 148px;
      margin-top: 25px;
      margin-left: 45px;
    }
  }
}

/* MIDD FRAME */
.main_frame {
  .midd_frame {
    .midd_top {
      position: relative;
      width: 970px;
      height: 467.09px;
      background-color: white;
      margin-bottom: 138.91px;
      top: -28px;
      font-family: sans-serif;
    }
  }
}

.main_frame {
  .midd_frame {
    .midd_bot {
      position: relative;
      width: 970px;
      height: 653px;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #e5e5e5;
      font-family: sans-serif;
    }
  }
}

.main_frame {
  .midd_frame {
    .midd_top {
      .midd_top_div {
        display: flex;
        flex-direction: row;
      }
    }
  }
}

.main_frame {
  .midd_frame {
    .midd_top {
      .midd_top_div {
        .midd_top_frame {
          display: flex;
          flex-direction: column;
          width: 970px;
        }
      }
    }
  }
}

.main_frame {
  .midd_frame {
    .midd_top {
      .midd_top_div {
        .midd_top_frame {
          .round_yellow {
            position: absolute;
            width: 16px;
            height: 16px;
            left: 496px;
            top: 46px;
            border-radius: 50%;
            border: 2px solid rgba(5, 255, 0, 0.8);
            box-sizing: border-box;
          }
        }
      }
    }
  }
}

.main_frame {
  .midd_frame {
    .midd_top {
      .midd_top_div {
        .midd_top_frame {
          .round_green {
            position: absolute;
            width: 16px;
            height: 16px;
            left: 898px;
            top: 79px;
            border: 2px solid rgba(255, 180, 0, 0.8);
            box-sizing: border-box;
          }
        }
      }
    }
  }
}

.main_frame {
  .midd_frame {
    .midd_top {
      .midd_top_div {
        .midd_top_frame {
          .rectangle_yellow {
            position: absolute;
            width: 16px;
            height: 16px;
            left: 63.66px;
            top: 25.66px;
            border-radius: 50%;
            border: 2px solid rgba(255, 180, 0, 0.8);
            box-sizing: border-box;
            transform: rotate(26.05deg);
          }
        }
      }
    }
  }
}

.main_frame {
  .midd_frame {
    .midd_top {
      .midd_top_div {
        .midd_top_frame {
          .rectangle_blue {
            position: absolute;
            width: 16px;
            height: 16px;
            left: 375.03px;
            top: 331px;
            border: 2px solid rgba(0, 71, 255, 0.8);
            box-sizing: border-box;
            transform: rotate(26.05deg);
          }
        }
      }
    }
  }
}

.main_frame {
  .midd_frame {
    .midd_top {
      .midd_top_div {
        .midd_top_frame {
          .triangle_red {
            position: absolute;
            width: 16px;
            height: 16px;
            left: 925px;
            top: 427px;
            border-radius: 100px 10px 15px 20px;
            border: 2px solid rgba(255, 46, 0, 0.8);
            box-sizing: border-box;
          }
        }
      }
    }
  }
}

.main_frame {
  .midd_frame {
    .midd_top {
      .midd_top_div {
        .midd_top_frame {
          .midd_top_main_text {
            position: relative;
            width: 499.51px;
            height: 116.74px;
            margin-top: 100px;
            margin-left: 50px;
            font-family: sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 48px;
            line-height: 123.6%;
          }
        }
      }
    }
  }
}

.main_frame {
  .midd_frame {
    .midd_top {
      .midd_top_div {
        .midd_top_frame {
          .midd_top_text {
            position: relative;
            width: 424.44px;
            height: 85.61px;
            margin-left: 50px;
            font-family: sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 24px;
            color: #767676;
          }
        }
      }
    }
  }
}

.main_frame {
  .midd_frame {
    .midd_top {
      .midd_top_div {
        .midd_top_frame {
          button {
            width: 154px;
            height: 50px;
            margin-top: 30px;
            margin-left: 50px;
            border-radius: 7px;
            background: #ffb400;
            font-size: 16px;
            border: none;
          }
        }
      }
    }
  }
}

.main_frame {
  .midd_frame {
    .midd_top {
      .midd_top_div {
        img {
          width: 326px;
          height: 468px;
        }
      }
    }
  }
}

.main_frame {
  .midd_frame {
    .midd_top {
      .midd_top_div {
        .midd_top_frame {
          .round_yellow_1 {
            position: absolute;
            width: 16px;
            height: 16px;
            left: 510px;
            top: 427px;
            border-radius: 50%;
            border: 2px solid rgba(255, 180, 0, 0.8);
            box-sizing: border-box;
          }
        }
      }
    }
  }
}

.main_frame {
  .midd_frame {
    .midd_top {
      .midd_top_div {
        .midd_top_frame {
          .round_green_1 {
            position: absolute;
            width: 16px;
            height: 16px;
            left: 70px;
            top: 427px;
            border-radius: 50%;
            border: 2px solid rgba(5, 255, 0, 0.8);
            box-sizing: border-box;
          }
        }
      }
    }
  }
}

.main_frame {
  .midd_frame {
    .midd_top {
      .midd_top_div {
        .midd_top_frame {
          .rectangle_blue_1 {
            position: absolute;
            width: 16px;
            height: 16px;
            left: 600px;
            top: 200px;
            border: 2px solid rgba(255, 0, 225, 0.8);
            box-sizing: border-box;
            transform: rotate(26.05deg);
          }
        }
      }
    }
  }
}

/* MIDD_BOT */
.main_frame {
  .midd_frame {
    .midd_bot {
      .midd_bot_div {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

.main_frame {
  .midd_frame {
    .midd_bot {
      .midd_bot_div {
        .midd_bot_1 {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}

.main_frame {
  .midd_frame {
    .midd_bot {
      .midd_bot_div {
        .midd_bot_1 {
          .my_services {
            width: 193px;
            height: 40px;

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            font-family: sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 32px;
            line-height: 123.6%;
            color: #333;
          }
        }
      }
    }
  }
}

.main_frame {
  .midd_frame {
    .midd_bot {
      .midd_bot_div {
        .midd_bot_1 {
          .my_services_desc {
            width: 438px;
            height: 68px;
            text-align: center;
            margin-top: 20px;

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            font-family: sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 24px;
            color: #767676;
          }
        }
      }
    }
  }
}

.main_frame {
  .midd_frame {
    .midd_bot {
      .midd_bot_div {
        .midd_bot_2 {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
        }
      }
    }
  }
}

.main_frame {
  .midd_frame {
    .midd_bot {
      .midd_bot_div {
        .midd_bot_2 {
          .midd_bot_2_box {
            width: 310px;
            height: 225px;
            background: #fff;
            margin-top: 25px;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
}

.main_frame {
  .midd_frame {
    .midd_bot {
      .midd_bot_div {
        .midd_bot_2 {
          .midd_bot_2_box {
            strong,
            img {
              margin-bottom: 15px;
            }
          }
        }
      }
    }
  }
}

.main_frame {
  .midd_frame {
    .midd_bot {
      .midd_bot_div {
        .midd_bot_2 {
          .midd_bot_2_box {
            span {
              font-weight: normal;
              color: #767676;
              margin-bottom: 15px;
            }
          }
        }
      }
    }
  }
}

.main_frame {
  .midd_frame {
    .midd_bot {
      .midd_bot_div {
        .midd_bot_2 {
          .midd_bot_2_box {
            button {
              border: none;
              color: #ffb400;
              background: white;
            }
          }
        }
      }
    }
  }
}

/* RIGTH FRAME */
.main_frame {
  .right_frame {
    .right_frame_main {
      margin-top: 200px;
      display: flex;
      flex-direction: column;
    }
  }
}

.main_frame {
  .right_frame {
    .right_frame_main {
      img {
        width: 40px;
        height: 40px;
        margin-bottom: 40px;
      }
    }
  }
}
